// theme/_fonts.scss

@import url('https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

$logo-font: 'Share Tech Mono', monospace;
$header-font: 'Raleway', sans-serif;
$header-font-size: 30px;
$header-font-weight: bold;
$core-font: 'Merriweather Sans', sans-serif;
