@import "../../theme/theme";

.WebCard {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.paperContainer {
  width: 300px;
  height: 250px;
}
.titleDiv {
  padding:10px;
  background-color: $primary-color-dark;
  font-size: 16px;
  font-family: monospace;
  font-weight: 800;
  height: 40px;
  color: $divider-color;
}